---
import '../styles/global.css';
import Header from '../components/Header.astro';
import PrimaryBtn from '../components/buttons/PrimaryBtn.astro';
import NewGame from '../components/NewGame.astro';
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/chip.svg" />
		<link rel="icon" href="/images/chip.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home Game Tracker</title>
	</head>
	<body>
		<Header />
		<div class="wrapper">
			<div class="container center gap-16 m-t-24">
				<h1>Create New Game</h1>
				<PrimaryBtn text="+ New Game" id="new-game-btn" />
				<p>// Temp BTN</p>
				<PrimaryBtn text="Log Out" id="log-out-btn" />
			</div>
		</div>
		<NewGame />
	</body>
</html>

<script src="../scripts/logout.js"></script>
