---
---
<div class="popup login">
    <h1 class="head-text">Login</h1>
    <form class="login__form">
        <div class="login__label-wrap">
            <label for="user">Username</label>
            <input class="login__input" name="user" id="user" placeholder="username" type="text" maxlength="16">
        </div>
        <div class="login__label-wrap">
            <label for="pass">Password</label>
            <input class="login__input" name="pass" id="pass" placeholder="password" type="password" maxlength="24">
        </div>
        <button type="submit" class="submit">Login</button>
    </form>
    <p>Need an account? <a href="/signup">Click here</a> to sign up.</p>
</div>

<style>
    .login {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
            color: var(--pri-400);
            text-decoration: none;
            transition: 0.25s;
            
            &:hover {
                color: var(--white-100);
            }
        }
    }

    .login__form {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 24px;
    }

    .login__label-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    .login__input {
        display: flex;
        padding: 12px;
        font-size: 1.2rem;
        background-color: var(--pri-900);
        border: 2px dashed var(--pri-500);
        border-radius: var(--border-radius);
        color: var(--white-200)
    }
</style>

<script src="../scripts/login.js"></script>